<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class='text-center'>
        Current Location
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <weather-current-location></weather-current-location>
    </div>
  </div>
  <div class="row" id='itemRow'>
    <div *ngFor='let location of location$.locations; index as i' class="col-4 mt-3">
      <weather-stored-location (click)='weatherClicked($event)' [image]='img' [id]='i' [title]='location.name'
        [degree]='location.temp'>
      </weather-stored-location>
    </div>
  </div>
  <div *ngIf='!add && !listFull' class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <div (click)='changeAdd()' id='add'></div>
    </div>
  </div>
  <div *ngIf='add && !listFull' class='row mt-4'>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center">
      <input [(ngModel)]='t' type="text" class="form-control" id='ipt' placeholder="Add City">
    </div>
    <div class="col"></div>
    <div class="col-12 d-flex justify-content-center">
      <button (click)='changeAdd()' type='button' class='btn btn-danger mr-1 mt-2'>Cancel</button>
      <button (click)='addItem()' type='button' class='btn btn-success ml-1 mt-2'>Add</button>
    </div>
  </div>
</div>