%po {
  cursor: pointer;
}

.bg {
  height: 10vh;
  width: 25vw;
  background-color: white;
  border-radius: 50px;
}

.bg:hover {
  .delete {
    background-color: red;
    height: 2em;
    width: 2em;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.18em;
    @extend %po;
  }
  .delete:before {
    content: "X";
  }
}

.text {
  margin-top: 2.25vh;
  color: white;
}

.point {
  @extend %po;
}

h1{
  font-size: 2vw;
}